.cart-group-1 {
	display: flex;
	margin-top: 20px;
    justify-content: center;
}
.cart-group-2 {
	display: flex;
	margin-top: 20px;
    justify-content: center;
}
.cart {
	height: 300px;
	width: 500px;
	background-color: antiquewhite;
	margin-left: 50px;
	display: flex;
	border: 1px solid rgb(32, 31, 31);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgb(134, 129, 129);
}
.container-project{
	display: flex;
	height: 200px;
	width: 300px;
	margin-left: 40px;
	margin-bottom: 20px;
}
#css{
	height: 200px;
	width: 300px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(218, 212, 212);
	margin: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#css:hover{
	background-color:rgb(133, 131, 131);
	color: white;
	cursor: pointer;
	
}
#js{
	height: 200px;
	width: 300px;
	margin: 5px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(218, 212, 212);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heding{
	display: flex;
	justify-content: center;
	padding: 5px;
	padding-left: 15px;
	
}
.p1{
	padding-left: 10px;
}
.s1{
	color: rgb(156, 173, 0);
}
span:hover{
	color:rgb(53, 186, 198) ;
}
#js:hover{
	background-color:rgb(133, 131, 131);
	color: white;
	cursor: pointer;
}
.info {
	width: 60%;
	color: rgb(12, 12, 12);
	background-color: (115, 119, 181);;
	border-radius: 10px 0px 0px 10px;
}
.photo {
	background-color: black;
	width: 40%;
	overflow: hidden;
	border-radius:0px 10px 10px 0px;
}
.title {
	justify-content: center;
	text-align: center;
	font-size: larger;
	border-radius: 10px;
}
.card-text {
	padding-left: 6px;
}
.btn {
	padding-left: 6px;
}
.imgg {
	height: 100%;
	justify-content: center;
	margin: auto;
	padding: auto;
	overflow: hidden;
}
 .container2{
    display: flex;
	padding: 5px;
	 box-shadow: 5px 5px 5px rgb(134, 129, 129);
	background-color: rgb(233, 252, 252);
 }
 .intro{
	width: 50%;
 }


@media (max-width: 500px) {
	.cart-group-1 {
		display: flex;
		flex-direction: column;
		margin-left: 4px;
		margin-right: 4px;
	}
	.cart-group-2 {
		display: flex;
		flex-direction: column;
		margin-left: 4px;
		margin-right: 4px;
	}
	.cart {
		margin-left: 0%;
		margin-top: 10px;
		height: 250px;
		width: 100%;
	}
	.info {
		width: 50%;
	}
	.photo {
		height: 100%;
		width: 60%;
	}
	.slider{
		height: 150px;
		width: 100%;
	}
	.container2{
		flex-direction: column;
	}
	.intro{
		width: 100%;
	}
}
